html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  font-family: "Inter";
  font-weight: 500;
}

nav {

}
