// SIZES
$article-width: 60vw;




// COLOR
$black-0: #000;
$black-10: #161616;


$gray-dark-0: #3f3c45;
$gray-light-0: #9c94ac;


// DRACULA COLOR THEME - https://draculatheme.com/
$very-dark-gray: #282a36; // Background
$dark-gray: hsla(220, 100%, 80%, .08); // Current Line & Selection
$gray: #666666;
$light-gray: #999999;
$very-light-gray: #f8f8f2; // Foreground
$blue: #6272a4; // Comment

$cyan: #8be9fd;
$soft-cyan: #66d9ef;
$green: #50fa7b;
$green-lite: #82fba0;
$orange: #ffb86c;
$deep-orange: #f7a349;
$pink: #ff79c6;
$pink-dark: #ff46b0;
$purple: #bd93f9;
$dark-purple: #383a59;
$red: #ff5555;
$yellow: #f1fa8c;
$dark-yellow: #E6DB74;
$sandstone: #cfcfc2;

$lace: #f8f8f0;
$white: #ffffff;
$black: #000000;
