<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Barba.js Page Transitions</title>

  <link rel="stylesheet" href="css/styles.css">

  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin>

  <style>
    @font-face {
      font-family: "Inter";
      src: url('fonts/Inter-Regular.woff2') format('woff2'), url('fonts/Inter-Regular.woff') format('woff');
      font-display: swap;
      font-weight: 500;
    }

    @font-face {
      font-family: "Inter";
      src: url('fonts/Inter-Medium.woff2') format('woff2'), url('fonts/Inter-Medium.woff') format('woff');
      font-display: swap;
      font-weight: 600;
    }
  </style>
</head>

<body data-barba="wrapper">
  <nav>
    <a href="about.html">Home</a>
    <a href="about.html">About</a>
    <a href="gallery.html">Photos</a>
    <a href="posts.html">Posts</a>
    <a href="contact.html">Contact</a>
  </nav>

  <main data-barba="container" data-barba-namespace="posts">
    <header>
      <h1>Posts</h1>
    </header>
  </main>

  <footer>
    <a class="github-button" href="https://github.com/telagraphic/page-transitions" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true"
      aria-label="Star telagraphic/page-transitions on GitHub">Star</a>
  </footer>
</body>

<script src="js/barba.core.js"></script>
<script src="js/barba.css.js"></script>
<script src="js/barba.prefetch.js"></script>
<script src="js/barba.router.js"></script>
<script src="js/gsap.min.js"></script>

</html>