@import '../config/variables';

.guide {
  display: flex;
  flex-direction: column;
  width: $article-width;

  scroll-snap-type: y mandatory;

  p {
    font-size: 2rem;
  }

  a {
    text-decoration: underline;

    color: $sandstone;

    transition: color .25s ease-in-out;

    &:hover,
    &:focus {
      color: $deep-orange;
    }
  }
}

.toc {
  font-size: 2rem;


  &__chapter {
    display: grid;
    grid-template-areas: 'title' 'details';
    grid-template-columns: max-content;
    grid-template-rows: 10rem max-content;
    align-items: center;

    padding: 4rem 0;

    opacity: 0;

    &:nth-last-child(n+2) {
      border-bottom: solid .5rem $sandstone;
    }
  }

  &__chapter-title {
    grid-area: title;
    display: grid;
    grid-template-columns: 10rem max-content;
  }

  &__chapter-number {
    font-size: 8rem;
    font-weight: 100;

  }

  &__chapter-name {
    padding: 0 0 0 2rem;
    font-size: 8rem;
    font-weight: 300;

  }
  &__chapter-sections {
    grid-area: details;
    display: grid;
    grid-template-rows: 4rem;

    padding: 2rem 0;
  }
  &__chapter-sections-item {

  }

  &__chapter-sections-item-section {
    em {
      font-weight: 500;
      font-style: normal;
    }
  }
  &__chapter-sections-item-details {
    p {
      padding: 0;
      margin: 0;

      font-weight: 300;
    }
  }
}
