@import '../config/variables';

.index {
  display: flex;
  flex-direction: column;
  width: $article-width;


  &__section {
    padding: 1.5rem 0 .5rem 0;

    font-size: calc(16px + (38 - 16) * ((100vw - 320px) / (3000 - 320)));

    p {
    }

    a {
      color: $lace;
      transition: color .25s ease-in-out;

      &:hover,
      &:focus {
        color: $cyan;
      }
    }

    b {
      color: $purple;
    }

    ol {
      li {
      }
    }
  }
}
