@import '../config/variables';

.index {
  display: flex;
  flex-direction: column;
  width: $article-width;


  &__section {

    p {
      font-size: 2rem;
    }

    a {
      color: $lace;
      transition: color .25s ease-in-out;

      &:hover,
      &:focus {
        color: $cyan;
      }
    }

    b {
      color: $purple;
    }

    ol {
      font-size: 2rem;
      li {
        font-size: 2rem;
      }
    }
  }
}
