@import '../config/variables';

.posts {
  display: flex;
  width: $article-width;

  &__list {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 2rem;
  }
}


.post {
  display: flex;
  flex-direction: column;
  opacity: 0;

  &__title {

    color: $soft-cyan;
    transition: color .5s ease;

    &:hover,
    &:focus {
      color: darken($purple, 1%);
      // color: $blue;
    }

  }
  &__desc {
    font-size: 1.5rem;
  }
}
