@import '../config/variables';

.hooks {
  display: flex;
  flex-direction: column;
  width: $article-width;

  p {
    font-size: 2rem;
  }

  a {
    text-decoration: underline;

    color: $sandstone;

    transition: color .25s ease-in-out;

    &:hover,
    &:focus {
      color: $deep-orange;
    }
  }



  &__section {

  }
}
