@import '../config/variables';

.footer {
  grid-area: footer;
  padding: 1rem;

  background: $blue;

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 0 0 20vw;

    width: $article-width;    
  }

  p {

  }

  a {
    display: inline;
    color: $purple;
    text-decoration: none;

    transition: color .25s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: lighten($purple, 4%);
    }
  }
}
