@import '../config/variables';

.footer {
  grid-area: footer;

  background: $blue;

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: $article-mobile-width;

    @include desktop {
      width: $article-width;
    }

    padding: 0 0 0 5.5%;

    @include desktop {
      padding: 0 0 0 20vw;
    }

  }

  p {
    padding: 0;
    margin: 0;
  }

  a {
    display: inline;
    color: $purple;
    text-decoration: none;

    transition: color .25s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: lighten($purple, 4%);
    }
  }
}
