@import '../config/variables';

.footer {
  grid-area: footer;
  padding: 2rem 0;

  background: $blue;

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 0 0 20vw;

    width: $article-width;
  }

  p {
    padding: 0;
    margin: 0;

    font-weight: 400;
  }

  a {
    display: inline;
    color: $purple;
    color: $pink;
    text-decoration: none;

    transition: color .25s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: lighten($purple, 4%);
      color: $green;
    }
  }
}
