@import '../config/variables';

.footer {
  grid-area: footer;
  padding: 1rem;

  background: $blue;

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 0 0 20vw;

    width: $article-width;
  }
}
