@import '../config/variables';
@import '../config/mixins';

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;

  padding: 1rem 0;

  background: $blue;

  .github-button-section {
    display: flex;
    align-items: center;
    padding: 0 0 0 11%;

    @include desktop {
      padding: 0 0 0 20vw;
    }
  }

  .docs {
    padding: 0 1rem;

    color: $pink;

    text-decoration: none;
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: none;
      color: lighten($pink, 5%);
    }
  }

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 600;

  a {
    padding: 0 .5rem 0 0;

    text-decoration: none;
    color: $pink;

    &:hover,
    &:focus {
      text-decoration: none;
      color: lighten($pink, 5%);
    }
  }

  .github-button-link {
    display: flex;
    align-items: center;

    padding: 0 0 0 1rem;
  }

}
