@import '../config/variables';
@import '../config/mixins';

main {
  grid-area: main;
  display: flex;
  justify-content: center;

  padding: 3rem 0;
}

.page {

  header {
    padding: 1rem 0;
  }
}


.main-green {
  background: $green-lite;
}

.main-pink {
  background: $pink-dark;
}

.main-red {
  background: $red;
}

.main-cyan {
  background: $cyan;
}
