html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  background: $very-light-gray;
  background: $very-dark-gray;
  background: $dark-purple;

}
