@import '../config/variables';

body {
  color: $black-10;
  line-height: 3rem;

  font-family: "Inter";
  font-weight: 500;

  color: $lace;
}


h1,
h2,
h3,
h4 {
  color: $soft-cyan;

  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}
