@import '../config/variables';

.interstitial {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: $green;
  transform: translate(0, 100%);

  h1 {
    color: $purple;

    z-index: 100;
  }
}
